<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <!-- External Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">

  <!-- Main styles -->
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <!-- <link rel="stylesheet" href="/styles/homepage.css" /> -->
  <!-- <link rel="stylesheet" href="/styles/edit-user-modal.css" /> -->

  <!-- <link rel="stylesheet" href="/styles/resource_modal.css" /> -->

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
  <script defer type="module" src="/scripts/resources.js"></script>
  <script defer src="/scripts/create-resource.js"></script>

</head>

<body>
  <%- include('partials/_header') %>
    <main>
      <h1>Resource Wall</h1>
      <div id="resources" class="gallery flex">
        <% if (!resources.length){ %>
          <p class="error">No results found, please try again.</p>
          <% } %>
            <% for (let resource of resources) { %>
              <div class="resource-item resource flex" id="<%= resource.id %>">
                <div class="resource-item--inner flex">
                  <div class="resource-item--title">
                    <h3>
                      <%= resource.title %>
                    </h3>
                  </div>
                  <div class="image-container">
                    <img src="<%= resource.thumbnail_url %>" alt="Resource thumbnail image" class="thumbnail" />
                    <p class="description">
                      <%= resource.description %>
                    </p>
                  </div>
                </div>
              </div>
              <% } %>
      </div>
      <div id="resource_modal-container" class="hidden modal flex"></div>
      <!-- <div id="myModal" class="modal-container">
        <div class="modalll">
          <span class="close">&times;</span>
          <div class="modal-content">
          </div>
        </div>
      </div> -->
    </main>
    <%- include('partials/_footer') %>
</body>

</html>