<!DOCTYPE html>
<html lang="en">

<head>
  <title>User Profile</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/utility.css" />
  <link rel="stylesheet" href="/styles/edit-user-modal.css" />
  <link rel="stylesheet" href="/styles/profile-page.css" />



  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
  <script defer src="/scripts/users.js"></script>
  <script defer src="/scripts/delete-resources.js"></script>
  <script defer src="/scripts/unlike-resources.js"></script>
</head>

<body>
  <%- include('partials/_header') %>
    <div id="user-profile" class="user-profile">
      <img src="https://placekitten.com/200/200" alt="user's avatar" />
      <span>
        <%= user.username %>
      </span>
      <button id="edit">Edit Profile</button>
      <div id="<%= user.user_id %>" class="modal modal_edit flex hidden">
        <div class="modal_inner modal_edit--inner flex">
          <button id="modal_close">X</button>
          <div class="user_image">
            <img src="https://placekitten.com/200/200" alt="user's avatar" />
          </div>
          <div class="user_form">
            <form id="user_form-edit" method="PUT" action="/users/<%= user.user_id %>">
              <div class="hidden">
                <label for="user_id"></label>
                <input id="user_id" type="number" value="<%= user.user_id %>" disabled>
              </div>
              <div>
                <label for="username">Username</label>
                <input id="username" value="<%= user.username %>" type="text">
              </div>
              <div>
                <label for="first_name">First Name</label>
                <input id="first_name" value="<%= user.first_name %>" type="text">
              </div>
              <div>
                <label for="last_name">Last Name</label>
                <input id="last_name" value="<%= user.last_name %>" type="text">
              </div>
              <div>
                <label for="user_email">Email</label>
                <input id="user_email" value="<%= user.email %>" type="email">
              </div>
              <div class="form_button--container">
                <button type="submit">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div id="user-resources" class="user-resources flex">
      <h1>My Saved Resources</h1>
      <select name="category" id="user-category-select">
        <option value="0">Select All</option>
        <option value="1">Javascript</option>
        <option value="2">CSS</option>
        <option value="3">React</option>
        <option value="4">SQL</option>
        <option value="5">Express</option>
        <option value="6">Ruby</option>
      </select>
      <div id="user-resources_display" class="user-resources_display flex">
        <% for (let resource of resources) { %>
          <% let owned=resource.creator_id===user.user_id ? true : false %>
            <!--
              If the resource is owned, the id should be for the resources table
              Otherwise, it should be for the likes table
            -->
            <% if (owned) { %>
              <div id="<%= resource.resources_id %>" <% } else { %>
                <div id="<%=resource.likes_id%>" <% } %>
                  class="resource-item category_id-<%=resource.category_id%>">
                    <h3>
                      <%= resource.title %>
                    </h3>
                    <a href="<%= resource.url %>">
                      <img src="<%= resource.thumbnail_url %>" />
                    </a>
                    <div class="resource-buttons">
                      <% if (owned) { %>
                        <button id="btn_delete">Delete</button>
                        <button id="btn_edit">Edit</button>
                        <% } else { %>
                          <button id="btn_unlike">Unlike</button>
                          <% } %>
                    </div>
                </div>
                <% } %>
              </div>
      </div>
      <!-- Footer partial here -->
</body>

</html>
