<!DOCTYPE html>
<html lang="en">

<head>
  <title>User Profile</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/utility.css" />
  <link rel="stylesheet" href="/styles/edit-user-modal.css" />


  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
  <script defer src="/scripts/users.js"></script>
</head>

<body class="temp-page-class">
  <%- include('partials/_header') %>
    <div id="user-profile" class="user-profile">
      <img src="https://placekitten.com/200/200" alt="user's avatar" />
      <span>
        <%= user.username %>
      </span>
      <button id="edit">Edit Profile</button>
      <div id="<%= user.id %>" class="modal_edit flex hidden">
        <div class="modal_edit--inner flex">
          <div class="user_image">
            <img src="https://placekitten.com/200/200" alt="user's avatar" />
          </div>
          <div class="user_form">
            <form id="user_form-edit" method="PUT" action="/users/<%= user.id %>">
              <div class="hidden">
                <label for="user_id"></label>
                <input id="user_id" type="number" value="1" disabled>
              </div>
              <div>
                <label for="username">Username</label>
                <input id="username" value="<%= user.username %>" type="text">
              </div>
              <div>
                <label for="first_name">First Name</label>
                <input id="first_name" value="<%= user.first_name %>" type="text">
              </div>
              <div>
                <label for="last_name">Last Name</label>
                <input id="last_name" value="<%= user.last_name %>" type="text">
              </div>
              <div>
                <label for="user_email">Email</label>
                <input id="user_email" value="<%= user.email %>" type="email">
              </div>
              <div class="form_button--container">
                <button type="submit">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div id="user-resources" class="user-resources">
      <h1>My Saved Resources</h1>
      <select name="category" id="user-category-select">
        <option default>an option</option>
        <option>a second option</option>
      </select>
      <div id="user-resources_display" class="user-resources_display">
        <% for (let resource of resources) { %>
          <a href="<%= resource.url %>">
            <img src="<%= resource.thumbnail_url %>" />
          </a>
          <% } %>
      </div>
    </div>
    <!-- Footer partial here -->
</body>

</html>