<!DOCTYPE html>
<html lang="en">

<head>
  <title>User Profile</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
  <script defer src="/scripts/users.js"></script>
  <script defer src="/scripts/delete-resources.js"></script>
  <script defer src="/scripts/unlike-resources.js"></script>
  <script defer type="module" src="/scripts/modal.js"></script>
  <script defer type="module" src="/scripts/resources.js"></script>
  <script defer type="module" src="/scripts/edit-modal.js"></script>
  <script defer type="module" src="/scripts/create-resource.js"></script>

</head>

<body>
  <%- include('partials/_header') %>
    <main>
      <div id="user-profile" class="user-profile flex">
        <img src="../assets/user-avatar.png" alt="user's avatar" />
        <h4>
          <%= user.username %>
        </h4>
        <button id="edit_user" class="btn_user btn">Edit Profile</button>
        <div id="<%= user.id %>" class="modal flex hidden">
          <div class="modal--inner flex">
            <button id="modal_close" class="modal_close">X</button>
            <div class="modal_thumbnail">
              <img src="../assets/user-avatar.png" alt="user's avatar" />
            </div>
            <div class="user_form">
              <h2>Edit Profile</h2>
              <form id="user_form-edit" method="PUT" action="/users/<%= user.id %>">
                <div class="hidden">
                  <label for="user_id"></label>
                  <input id="user_id" type="number" value="<%= user.id %>" disabled>
                </div>
                <div>
                  <label for="username">Username</label>
                  <input id="username" placeholder="<%= user.username %>" type="text">
                </div>
                <div>
                  <label for="first_name">First Name</label>
                  <input id="first_name" placeholder="<%= user.first_name %>" type="text">
                </div>
                <div>
                  <label for="last_name">Last Name</label>
                  <input id="last_name" placeholder="<%= user.last_name %>" type="text">
                </div>
                <div>
                  <label for="user_email">Email</label>
                  <input id="user_email" placeholder="<%= user.email %>" type="email">
                </div>
                <p class="hidden-err-msg">Please, fill all the required fields</p>
                <div class="form_button--container">
                  <button type="submit" class="btn">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div id="user-resources" class="user-resources flex">
        <div class="user-resources-tabs flex">
          <a id="user-resources_owned" href="#user-resources_owned" class="selected user-resources-button"><span
              class="user-resources-button-text">My Saved
              Resources</span>
          </a>
          <a id="user-resources_liked" href="#user-resources_liked" class="user-resources-button"><span
              class="user-resources-button-text">Liked Resources</span>
          </a>
        </div>
      </div>
      <div class="flex user-resources-category">
        <label for="category">Select a category to sort:</label>
        <select name="category" id="user-category-select">
          <option value="0">Select All</option>
          <option value="1">Javascript</option>
          <option value="2">CSS</option>
          <option value="3">React</option>
          <option value="4">SQL</option>
          <option value="5">Express</option>
          <option value="6">Ruby</option>
        </select>
      </div>
      <div id="user-resources_display" class="gallery user-resources_display flex">
        <div id="resource_modal-container" class="modal modal_profile flex hidden">
          <!-- Append edit or view resource modals here -->
        </div>
        <% for (let resource of resources) { %>
          <div id="<%= resource.id %>" class="owned flex resource-item category_id-<%=resource.category_id%>">
            <div class="resource-item--inner flex">
              <h3>
                <%= resource.title %>
              </h3>
              <div class="image-container">
                <img src="<%= resource.thumbnail_url %>" />
                <p class="description">
                  <%= resource.description %>
                </p>
              </div>
            </div>
            <div class="resource-buttons ">
              <button id="delete_<%= resource.id %>" class="btn_delete btn">Delete</button>
              <button id="edit_<%= resource.id %>" class="btn_edit btn">Edit</button>
            </div>
          </div>
          <% } %>
            <!-- Liked resources -->
            <% for (let like of likes) { %>
              <div id="<%= like.id %>" class="liked flex resource-item category_id-<%= like.category_id %>">
                <div class="resource-item--inner ">
                  <h3>
                    <%= like.title %>
                  </h3>
                  <div class="image-container">
                    <img src="<%= like.thumbnail_url %>" />
                    <p class="description">
                      <%= like.description %>
                    </p>
                  </div>
                </div>
                <div class="resource-buttons">
                  <button id="unlike_<%= like.id %>" class="btn_unlike btn">Unlike</button>
                </div>
              </div>
              <% } %>
      </div>
      </div>
    </main>
    <%- include('partials/_footer') %>
</body>

</html>